

.navbar-brand{
    font-size: 35px;
    font-weight: bold;
    margin-top: 0.8%;
    margin-left: 0%;font-family: 'Times New Roman', Times, serif;

   
}

.navbar-form navbar-left{
    margin-left:0% ; 
    margin-top: 0.8%;
}

.btn-group{
    margin-top: 0.8%; 
    margin-left:0%;
}

.media-heading{
    font-size: 60px; 
    font-weight: bold;
     margin-top: 20%;
}

.media-right{
    width:440px
}

